<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.e_auctionfinal">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GetLocation"></activity>
        <activity android:name=".BottomNavigation.NearBy" />
        <activity android:name=".BottomNavigation.About" />
        <activity android:name=".BottomNavigation.Seller" />
        <activity android:name=".BottomNavigation.Logout" />
        <activity android:name=".BottomNavigation.Buyer" />
        <activity android:name=".Authentication.ForgotPassword" />
        <activity android:name=".Authentication.SignUp" />
        <activity android:name=".Authentication.LoginActivitiy" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>